# Bot config
config.rb

avatars/*
tmp/*
logs/*
logs*
modules/data/__pycache__/*
modules/*.old
Gemfile.lock
.remote-sync.json
.directory
# Have config but not others
data/
!data/settings.yml
# IDEs
.idea/*
