# Netbeans says hello.
/target/
/.nb-gradle/
/build/
/.gradle/
# IntelliJ agrees.
/.idea
/*.iml
# For Eclipse, who doesn't really say hello. (Who uses Eclipse)
/.project
/.classpath
/bin
/.settings

# Configuration
/data

# Java files
*.class
*.jar
