module SerieBot
  module Config

    #~ Basic Config (Required)

    # Your bot account token. Create a bot account if you don't a bot account, get one and its token here -> https://discordapp.com/developers/applications/me/
    @token = 'your token here!'
    # The bot's App ID, which can be found at https://discordapp.com/developers/applications/me/
    @appid = 000000000000000000
    # All commands will use this symbol(s) before the command name. eg. &say has a prefix of &
    @prefix = '!'
    # Will appear after "Playing" under the bots name. Set to nil to not show a game
    @playing = "type #{prefix}help"
    @invite_url = nil  # Custom invite URL. Set to nil to use the default.


    # Provider for codes and such. Will be loaded as providers/<name>.rb.
    @provider = 'yml'
    # Options needed for per-provider. If you're using yml leave this as nil
    @provider_options = nil

    # These users will have full access to the bot's admin commands, and by extension, the server it is hosted on.
    # Give this power with care!!
    @bot_owners = [000000000000000000, 000000000000000000] # An array of user IDs.

    # Status of the bot
    @status = 'online'

    # This can't contain spaces
    @dump_dir = 'logs'

    # Set this false to use some production APIs.
    @debug = true

    # The root server this bot is based off of.
    @root_server = 000000000000000000

    # Set this to true to allow patching of config files via DM.
    @patch_mail = false

    # Set this to true to enable Morpher running.
    @morpher_enabled = false

    # The server that Morpher will mirror to.
    @morpher_server = 000000000000000000

    # Severs that should be logged
    @logged_servers = [000000000000000000, 000000000000000000]

    # Block specific channel IDs from being logged.
    @ignore_ids = [000000000000000000]
  end
end
